/**
    Author: Mwakanemela Kayange
    Year: 2024
    Approach Used: Mobile First

**/

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-image: url('images/evento_bg.jpg');
    background-position-y: -1500px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;  
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    /* width: 800px; */
}

.logo {
    font-weight: 700;
    font-size: 2em;
}

.links {
    list-style: none;
    display: flex;
}

.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    font-size: 14px;
    transition: all 0.4s;
    margin-right: 20px;
    margin-top: -10px;
}

.link:hover {
    color: rgba(255, 255, 255, 1);
}


/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    text-align: center;

}

.heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 0.9;
    margin-right: 10px;
    padding-left: 10px;
}


.text {
    font-size: 1em;
    margin-right: 25px;
    opacity: 0.8;
    line-height: 1.4;
    padding-left: 10px;
}

.text--bold {
    font-weight: 700;
}

.form {
    margin-top: 30px;
}

.input {
    width: 250px;
    margin: 10px;
    height: 54px;
    border: none;
    padding: 0;
    opacity: 0.8;
    border-radius: 3px;
    padding-left: 30px;
    font-family: inherit;
    outline: none;
    transition: all 0.4s;
}

.input:focus {
    opacity: 1;
}
.input::placeholder {
    color: black;
}

.btn {
    border: none;
    padding: 0;
    background-color: black;
    width: 133px;
    height: 34px;
    color: white;
    font:inherit;
    border-radius: 8px;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.4s;
}

.btn:hover {
    cursor: pointer;
    background-color: #161616;
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* width: 1150px; */
    margin-top: auto;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    animation: fade-in 0.5s 0.2s backwards;
}

.stats{
    margin-right: 5px;
}

/* MEDIA QUERY */

@media (min-width: 350px){

    .main {
        min-width: 350px;
    }

    .copyright {
     
        margin-right: 10px;
    }
}

@media (min-width: 400px) {
    .link {
        margin-right: 40px;
    }

    .text {
        padding-left: 30px;
    }

    .copyright {
     
        margin-right: 20px;
    }
}

@media (min-width: 450px) {
    .header {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        animation: fade-in 0.5s;
    }

    .link {
        margin-right: 10px;
    }

    .heading {
        font-size: 34px;
        font-weight: 800;
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: auto;
        line-height: 0.9;
    }

    .copyright {
     
        margin-right: 40px;
    }
}

@media (min-width: 500px) {
    /* .footer {
        width: 500px;
        justify-content: space-between;
    } */
}

@media (min-width: 600px) {
    .footer {
        justify-content: space-between;
        
    }

    .header {
        justify-content: space-between;
        min-width: 800px;
    }
}


@media (min-width: 800px) {

    .header {
        justify-content: space-between;
        min-width: 800px;
    }
}
