body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-image: url('images/evento_bg.jpg');
    background-position-y: -1500px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;  
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    animation: fade-in 0.5s;
}
.logo {
    font-weight: 700;
    font-size: 2em;
}

.links {
    list-style: none;
    display: flex;
}

.link-item {
    margin-right: 25px;
}
.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    font-size: 14px;
    transition: all 0.4s;
}

.link:hover {
    color: rgba(255, 255, 255, 1);
}

/* MAIN */

.main {

    text-align: center;
    margin-top: 110px;
    animation: fade-in 0.5s 0.2s backwards;
}

.heading {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    line-height: 0.9;
}

.text {
    font-size: 24px;
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
    line-height: 1.4;
}

.text--bold {
    font-weight: 700;
}

.form {
margin-top: 60px;
}

.input {
    width: 511px;
    height: 64px;
    border: none;
    padding: 0;
    opacity: 0.8;
    border-radius: 3px;
    padding-left: 30px;
    font-size: 17px;
    font: inherit;
    outline: none;
    transition: all 0.4s;
}

.input:focus {
    opacity: 1;
}
.input::placeholder {
    color: black;
}
.btn {
    border: none;
    padding: 0;
    background-color: black;
    width: 133px;
    height: 64px;
    color: white;
    font:inherit;
    border-radius: 8px;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.4s;
}

.btn:hover {
    cursor: pointer;
    background-color: #161616;
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: 12px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    animation: fade-in 0.5s 0.2s backwards;
}

/* MEDIA QUERY */

@media (max-width: 1572px){
    .header {
        width: 800px;
    }

    .footer {
        width: 800px;
    }
}


@media (max-width: 1072px){
    .header {
        width: 400px;
    }

    .footer {
        width: 500px;
    }

    .heading {
        max-width: 300px;
        font-size: 34px;
        font-weight: 800;
    }
}

/* @media (max-width: 1072px){
    .header {
        width: 400px;
        margin: 0;
        padding: 10px;
        justify-content: space-between;
    }

    
    .footer {
        width: 300px;
    }
} */

@media (max-width: 320px){
    .header {
        width: 450px;
        margin: 0;
        padding: 10px;
        justify-content: space-between;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .heading {
        max-width: 500px;
        font-size: 20px;
        font-weight: 800;
        margin-left: 150px;
        
    }
    
    .text {
        font-size: 14px;
        max-width: 630px;
        margin-left: 150px;
        
    }
    .input {
        width: 411px;
        height: 44px;
        border-radius: 3px;
        padding-left: 30px;
        font: inherit;
        font-size: 14px;
        margin-left: 155px;
        margin-top: -30px;
    }

    .btn {
        width: 100px;
        height: 34px;
        color: white;
        font:inherit;
        margin-top: 5px;
        margin-left: 155px;
    }
    .footer {
        width: 450px;
        margin-top: 150px;
        margin-left: 10px;
    }
}